body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}

/*------------------Header-----------*/
.iconoTelefono{
    width: 32px;
    height: 32px;
}

.topHeader{
    background-color: #7D3C98;
}




header nav{
    background-color: #8E44AD;
}

.nav-link{
    color: white;
}

.logoHeader{
    width: 128px;
}


/*--------------Main-------------------*/



.whatsapp{
    position: fixed;
    z-index: 1000;
    bottom: 10px;
    right: 10px;
    width: 70px;
}

.imagenIntroccion{
    padding-top: 50px;
    height: 400px;
}

.divTextoIntroduccion{
    padding-left: 20px;
}
.textoIntroccion{
    
}
