body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}

/*------------------Header-----------*/
.iconoTelefono{
    width: 32px;
    height: 32px;
}

.topHeader{
    background-color: #7D3C98;
}




header nav{
    background-color: #8E44AD;
}

.nav-link{
    color: white;
}

.logoHeader{
    width: 128px;
}